<html>
<head>

</head>
<body>
<img src="temp.png">
<img src="image.jpg">
<img class="img-fluid" src="assets/img/portfolio/806.png" alt="..." />
<style>
img{
    height: 300px;
    width: 300px;
}
</style>
</body>


</html>
