<link href="css/dressup.css" rel="stylesheet" crossorigin="anonymous">
<a class="btn btn-primary connect">connect wallet</a>

<div class="box" width="250" height="250" style="display: none;">
  <img src="" width="250" class="preview img_01 border p-2">
  <img class="preview img_02 p-2" width="250" style="display:none;">
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="display:none;">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="clothes-tab"
      data-bs-toggle="tab"
      data-bs-target="#clothes"
      type="button"
      role="tab"
      aria-controls="clothes"
      aria-selected="true"
    >
      cloth
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="ear-tab"
      data-bs-toggle="tab"
      data-bs-target="#ear"
      type="button"
      role="tab"
      aria-controls="ear"
      aria-selected="false"
    >
      ear
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#contact"
      type="button"
      role="tab"
      aria-controls="contact"
      aria-selected="false"
    >
      face
    </button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <% for i in 0..1 %>
    <div class="tab-pane fade show active cloths <%= i == 0 ? "Wom" : "Men" %> mt-3 border" style="display:none;" id ="clothes" role="tabpanel" aria-labelledby="clothes-tab">
      <h3 class="mt-4">choose</h3>
      <% for filename in @clothesNames[i] do %>
        <input type="image" src="<%= @clothesPath[i] %><%= filename %>" style="border: double;" height="200" width="200" class="cloth bg-dark m-3" data-id='<%= filename %>'/>
      <% end %>
    </div>
  <% end %>

  <div class="tab-pane fade ear mt-3 border" id ="ear" role="tabpanel" aria-labelledby="ear-tab">
    <h1 class="mt-4">ears</h1>
  </div>
</div>

  <form action="dress" method="POST">
    <div class="inputbody" style="display: none;">
      <h3>Enter the TokenID</h3>
      <input type="text" class="inputbody form-control" name="target" placeholder="Token ID">
      <a class="btn btn-primary mt-3 ok">OK</a>
    </div>
    <input type="text" class="inputcloth" name="cloth" placeholder="服" hidden>
    <input type="text" class="inputsex" name="sex" placeholder="性別" hidden>
    <input type="submit" value="決定" style="display: none;" class="btn btn-primary mt-5 kettei">
  </form>
</div>

<script src="./js/abi.js"></script>
<script src="./js/dressup.js"></script>