<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>SENZAI</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top"><img src="assets/img/header-logo.svg" alt="..." /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="#about">ABOUT</a></li>
          <li class="nav-item"><a class="nav-link" href="#senzai_nft">SENZAI NFT</a></li>
          <li class="nav-item"><a class="nav-link" href="#Dress-Up Function">Dress-Up Function</a></li>
          <li class="nav-item"><a class="nav-link" href="#roadmap">ROAD MAP</a></li>
          <li class="nav-item"><a class="nav-link" href="#team">TEAM</a></li>
          <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="https://twitter.com/senzainft"><i class="fab fa-twitter"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://discord.gg/heeqeUeaAy"><i class="fab fa-discord"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Welcome To SENZAI!</div>
      <div class="masthead-heading text-uppercase">SENZAI is your meta-identity.</div>
      <a class="btn btn-primary btn-xl text-uppercase mintButton" href="">MINT COMING SOON</a>
    </div>
  </header>
  <!-- Services-->
  <section class="page-section bg-Rikyushirache" id="about">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">ABOUT</h2>
        <h3 class="section-subheading text-muted">Volo te scire me.</h3>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fab fa-stripe-s fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">SENZAI NFT</h4>
          <p class="text-muted">SENZAI is a fashionable 10,000 PFP NFTs that can be dress-up.
            <br><br>Not only that, SENZAI makes senzai a global brand of community ownership through various activities with all the members of the community.
          </p>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-glass-cheers fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Vision</h4>
          <p class="text-muted">SENZAI builds a fashionable digital world as a global brand that leads meta-fashion.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio Grid-->
  <section class="page-section bg-Rikyushiracha" id="senzai_nft">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">SENZAI NFT</h2>
        <h3 class="section-subheading text-muted">10,000 amicis</h3>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-4">
          <!-- Portfolio item 1-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/a118.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <!-- Portfolio item 2-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/1184.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <!-- Portfolio item 3-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/a122.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
          <!-- Portfolio item 4-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/806.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <!-- Portfolio item 2-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/146.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4">
          <!-- Portfolio item 3-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/a51.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
          <!-- Portfolio item 5-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/303.png" alt="..." />
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <!-- Portfolio item 6-->
          <div class="portfolio-item">
            <img class="img-fluid" src="assets/img/portfolio/asadasd.png" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section bg-Rikyushirachz" id="Dress-Up Function">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Dress-Up Function</h2>
        <h3 class="section-subheading text-muted">Vestem tibi indue</h3>
      </div>
      <div class = "functionimg">
        <img src="assets/img/dressup1.png" alt="" class="dressup-img">
        <h4 class="text-center text-white">SENZAI is a dynamic PFP NFT that allows you to dress yourself <br> in the clothes and accessories of your choice.<br><br>The "dress-up function" allows you to change the clothes and accessories <br> of your SENZAI GENESIS NFT by using the wearable NFT.

</h4>
      </div>
    </div>
  </section>
  <!-- About-->
  <section class="page-section bg-Rikyushirachc" id="roadmap">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">ROAD MAP</h2>
        <h3 class="section-subheading text-muted">Lets simul casus.</h3>
      </div>
      <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>
            <br>
            ROAD MAP 1.0
            <br>
          </h4>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>ROAD MAP 1.0</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted">・SENZAI NFT mint.
              <br><br>
              ・AirDrop limited Wearable NFT to all holders of 15 or more.
              <br><br>
              ・Development of gallery and functions for community members' activities on the homepage.
              <br><br>
              ・Development of dress-up function.
              <br><br>
              ・Hold holder-only parties for the community.
              <br><br>
              ・AMA launched more than once a month.
              <br><br>
              ・$SENZAI Issuance and Ecosystem Development.
              <br><br>
              ・Seasonal SENZAI Wearable NFT Collection Announced.
              <br><br>
              ・2nd Collection AirDrop (3D Art).
              <br><br>
              ・Holder exclusive Store on the homepage Planning begins.
             <br><br>
              ・Contact with famous brands, projects, and creators.
             <br><br>
              ・Collaboration Wearable NFT Production. </p>
            </div>
          </div>
        </li>
        
        <li class="timeline-inverted">
          <div class="timeline-image">
            <h4>
              <br>
              ROAD MAP 2.0
              <br>
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- Team-->
  <section class="page-section bg-Rikyushirachf" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">TEAM</h2>
        <h3 class="section-subheading text-muted">Ego vultus deinceps ad vos cum omnibus.</h3>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/178.png" alt="..." />
            <h4>JOO JINHWAN(JJ)</h4>
            <p class="text-muted">Co-Founder,Product Director</p>
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/jinhwanjoo" aria-label="Parveen Anand Twitter Profile"><i
                class="fab fa-twitter"></i></a>
            <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                class="fab fa-linkedin-in"></i></a> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/301.png" alt="..." />
            <h4>OHNO TESTUO(FeO)</h4>
            <p class="text-muted">Co-Founder,Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/TetsuoOhno" aria-label="Diana Petersen Twitter Profile"><i
                class="fab fa-twitter"></i></a>
            <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i
                class="fab fa-linkedin-in"></i></a> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/11122.jpg" alt="..." />
            <h4>Kaito</h4>
            <p class="text-muted">Developer</p>
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/kaitoBlockchain" aria-label="Parveen Anand Twitter Profile"><i
                class="fab fa-twitter"></i></a>
            <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                class="fab fa-facebook-f"></i></a>
            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                class="fab fa-linkedin-in"></i></a> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="assets/img/team/99.png" alt="..." />
            <h4>LEE JAEHEE(EJ)</h4>
            <p class="text-muted">Art Director</p>
            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/Ejleejaehee" aria-label="Larry Parker Twitter Profile"><i
                class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          
        </div>
      </div>
    </div>
  </section>
  <section class="page-section bg-Rikyushirachb" id="faq">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">FAQ</h2>
        <h3 class="section-subheading text-muted">Certa necessitudo.</h3>
      </div>
      <section class="mt_S">
        <div class="accordion">
          <input type="checkbox" id="check3" class="accordion-hidden">
          <label for="check3" class="accordion-open">What is SENZAI NFT?</label>
          <label for="check3" class="accordion-inner">SENZAI is a fashionable 10,000 PFP NFTs that can be dress-up.<br><br>
            Not only that, SENZAI makes senzai a global brand of community ownership through various activities with all the members of the community.</label>

          <input type="checkbox" id="check1" class="accordion-hidden">
          <label for="check1" class="accordion-open">Is there an official link?</label>
          <label for="check1" class="accordion-inner">Official Website<br>
          - <a href=" https://senzai.app/ " target="_blank" rel="noopener noreferrer"> https://senzai.app/ </a>
          <br><br>
          Official Twitter
          <br>
          - <a href="https://twitter.com/senzainft" target="_blank" rel="noopener noreferrer">https://twitter.com/senzainft</a> -
          <br><br>
          Official Discord
          <br>
          - <a href="https://discord.gg/heeqeUeaAy" target="_blank" rel="noopener noreferrer">https://discord.gg/heeqeUeaAy</a> -
        
      </label>
      
          <input type="checkbox" id="check2" class="accordion-hidden">
          <label for="check2" class="accordion-open">When can we participate in MINT?</label>
          <label for="check2"
            class="accordion-inner">Round1 (2,500 SENZAI) - End of June to early July<br>
            Next round - TBD. </label>
      
          <input type="checkbox" id="check4" class="accordion-hidden">
          <label for="check4" class="accordion-open">How much will the MINT be?</label>
          <label for="check4" class="accordion-inner">TBA.</label>

          <input type="checkbox" id="check5" class="accordion-hidden">
          <label for="check5" class="accordion-open">How can users participate in MINT?</label>
          <label for="check5" class="accordion-inner">Senzai's official minting site will be announced on SENZAI's official Twitter and Discord.</label>

          <input type="checkbox" id="check6" class="accordion-hidden">
          <label for="check6" class="accordion-open">Is it possible to use SENZAI art commercially?</label>
          <label for="check6" class="accordion-inner">Holders can do commercial activities using their SENZAI NFT Art.</label>

        </div>
      </section>
    </div>
  </section>
  <!-- Clients-->
  <!-- <div class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg" alt="..."
              aria-label="Microsoft Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg" alt="..."
              aria-label="Google Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg" alt="..."
              aria-label="Facebook Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
          <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..."
              aria-label="IBM Logo" /></a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Footer-->
  <footer class="footer py-4 bg-Rikyushirachd">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-start">Copyright &copy; Yummy Inc 2022</div>
        <div class="col-lg-4 my-3 my-lg-0">
          <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/senzainft" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="https://discord.gg/heeqeUeaAy" aria-label="Discord"><i class="fab fa-discord"></i></a>
        </div>
        <div class="col-lg-4 text-lg-end">
        </div>
      </div>
    </div>
  </footer>
  <!-- Portfolio Modals-->
  
  
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>